body {
    
    background-image: url(../images//bg9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
        background-position: center center;
}

.layout {
    width: 800px;
    margin: 0px auto;
   padding-left: 45px;
    overflow: hidden;
    background-color: #0000005e;
    display: block;
}

h2 {
    color: #dedede;
}

h1 {
    color: #ebebeb;
    text-align: center;
    margin-bottom: 40px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 70%;
    padding: 11px;
    border: 3.5px solid #4b4b4b;
    background-color: #e0e2e4;
    font-size: 18px;
    color: #454140;
    font-weight: bold;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    border-color: #6ebe44;
}

input[type="text"]:placeholder-shown,
input[type="email"]:placeholder-shown,
input[type="tel"]:placeholder-shown,
textarea {
    
    font-size: 16px;
    font-weight: bold;
    color: #454140;
}

.button{
    background: #1843af;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 17px;
    margin-left: 40%;
}

